<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

        <!--开启包扫描-->
        <context:component-scan base-package="com.mmm.dao"/>
        <context:component-scan base-package="com.mmm.service"/>

<!--        读取properties配置文件-->
        <context:property-placeholder location="classpath:db.properties"/>
        
<!--        定义数据源-->
        <bean id="comboPooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
<!--                注入mysql数据库的相关信息-->
                <property name="driverClass" value="${jdbc.driver}"/>
                <property name="jdbcUrl" value="${jdbc.url}"/>
                <property name="user" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.passwd}"/>
        </bean>

<!--        定义事务管理器-->
        <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                <property name="dataSource" ref="comboPooledDataSource"/>
        </bean>

<!--    将sqlSessionFactory的bean交给容器管理-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--            注入数据源-->
            <property name="dataSource" ref="comboPooledDataSource"/>
<!--            PageHelper插件-->
<!--            传入pagerHelper插件-->
            <property name="plugins">
                <array>
<!--                    传入插件的对象-->
                    <bean class="com.github.pagehelper.PageInterceptor">
                        <property name="properties">
                            <props>
<!--                                使用分页插件-->
<!--                                底层方言,表示使用mysql的语法来进行分页-->
                                <prop key="helperDialect">mysql</prop>
                                <prop key="reasonable">true</prop>
                            </props>
                        </property>
                    </bean>
                </array>
            </property>
        </bean>


<!--        使用注解来控制事务-->
        <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

</beans>